{{define "chat"}}
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
            username is: {{.user.Username}}!
        </div>
        <div>
            {{range .chatRooms}}
                <a href="/chat_room?id={{.roomId}}">    
                    <div>
                        <p>{{.username}}</p>
                        <p>{{.message}}</p>
                    </div>
                </a>
            {{end}}
        </div>
    </body>
</html>
{{end}}