{{define "chat"}}
<html>
    <head>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div>
            username is: {{.User.Username}}!
        </div>
        <div>
            asdasdasd
            {{range .ChatRooms}}
                <a href="/chat_room?id={{.roomId}}">    
                    <div>
                        <p>{{.UserId}}</p>
                        <p>{{.ChatRoomId}}</p>
                    </div>
                </a>
            {{end}}
            zxczxcxzc
        </div>
    </body>
</html>
{{end}}