{{define "chat_room"}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script>
        window.user_id = '{{.User.ID}}'
        window.chat_room_id = '{{.RoomID}}'
    </script>
</head>
<body>
    <div>
        username is: {{.User.Username}}!
    </div>
    <div id="messages-block">
        {{range .Messages}}
            <div>
                <p>{{.User.Username}}</p>
                <p>{{.Message}}</p>
                <p>{{.Date}}</p>
            </div>
        {{end}}
    </div>
        <input type="text" id="inp-msg">
        <button id="btn-send">Send</button>
    <script src="js/chat_room.entry.js"></script>
</body>
</html>
{{end}}